[Unit]
Description=Monero Daemon
After=network.target

[Service]
Type=forking
GuessMainPID=no
ExecStart=/usr/local/src/monero/build/release/bin/monerod --rpc-bind-ip 127.0.0.1 --zmq-rpc-bind-port 18084 --detach --prune-blockchain --block-notify '/bin/bash /home/pool/nodejs-pool/block_notify.sh'
Restart=always
User=monerodaemon

[Install]
WantedBy=multi-user.target
